@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');
@font-face {
    font-family: 'museo300';
    src: url('../fonts/Museo300-Regular/Museo300-Regular.eot');
    src: url('../fonts/Museo300-Regular/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo300-Regular/Museo300-Regular.woff') format('woff'),
         url('../fonts/Museo300-Regular/Museo300-Regular.ttf') format('truetype'),
         url('../fonts/Museo300-Regular/Museo300-Regular.svg#museo300') format('svg'),
         url('../fonts/Museo300-Regular/Museo300-Regular.otf') format('otf');
}
@font-face {
    font-family: 'museo500';
    src: url('../fonts/Museo500-Regular/Museo500-Regular.eot');
    src: url('../fonts/Museo500-Regular/Museo500-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo500-Regular/Museo500-Regular.woff') format('woff'),
         url('../fonts/Museo500-Regular/Museo500-Regular.ttf') format('truetype'),
         url('../fonts/Museo500-Regular/Museo500-Regular.svg#museo300') format('svg'),
         url('../fonts/Museo500-Regular/Museo500-Regular.otf') format('otf');
}
@font-face {
    font-family: 'museo100';
    src: url('../fonts/Museo100/Museo_100.woff') format('woff'),
         url('../fonts/Museo100/Museo_100.ttf') format('truetype'),
         url('../fonts/Museo100/Museo_100.woff2') format('woff2');
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:0;
}



img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-align: center;
}

header {
    background-image: url(../assets/bud.jpg);
    background-size: cover;
    background-position: center bottom;
    height: 100%;
    position: relative;
}

.header-arrow-down {
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;    
}

.arrow-box {
    width: 60px;
    height: 60px;
    padding: 5px;
    background-color: rgba(256,256,256,0.2);
    border-radius: 50%;
    cursor: pointer;
}

.overlay {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

.is-navOpen{
  overflow: hidden;
}

nav {
    height: 100%;
    width: 310px;
    left: 0;
    top: 0;
    z-index: 2000;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-310px,0);
}

.menu {
    height: 100%;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    background-image: linear-gradient(to right, #f8fafa, #c3f7fc); 
}

.menu a {
    display: block;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    color: #797979;
    text-transform: uppercase;
}

#desktop {
    background-image: linear-gradient(to right, #fafcfd, #d0eeff);
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    top: -75px;
    transition: all 0.4s ease-in-out;
}

#desktop a {
    font-size: 24px;
    padding: 23px;
    color: #181717;
    text-transform: uppercase;
}

#desktop a:hover {
    background-color: #dffeff;
}

main {
    position: absolute;
    left: 10px;
}

.logo {
    height: 90%;
    margin-right: 10px;
    margin-left: 10px;
}



.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}

/* container about */

.container {
    max-width: 1140px;
    min-width: 980px;
    margin: 0 auto;
}

.container {
    margin-top: 40px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.col-about {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.box-img {
    width: 30%;
    opacity: 0;
}

.box-text {
    padding: 20px 5px;
    line-height: 1.7;
    font-size: 18px;
    font-weight: 200;
    min-height: 350px;
    width: 100%;
}

.box-text h1 {
    font-size: 24px;
    font-weight: 200;
    text-transform: uppercase;
    padding: 30px 0;
}

.box-text-left {
    margin-left: -300px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.box-text-right {
    margin-right: -300px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

/*effektek*/

.menu-effect {
    top: 0!important;
}
.imgscale{
    /*transform: scale(1);*/
    opacity: 1;
    animation: bounce 800ms ease;
}

.text-animation {
    opacity: 1;
    margin: 0;
}

@keyframes bounce {
    0% {
      transform:scale(0);
    }
    50% {
      transform:scale(1.2);
    }
    100% {
      transform:scale(1);
    }
  }



@media (max-width: 991px) {

    #desktop a {
        display: none;
    }


}

@media (max-width: 576px) {

    .container {
        min-width: 100%!important;
        max-width: 100%!important;
    }

    .row {
        flex-flow: column;
    }

    .col-about {
        width: 100%;
    }

}

@media (min-width: 992px) {
    main {
        display: none;
    }
}

